*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Fredoka', sans-serif;
}

header, main{
    max-width: 1400px;
    margin: 0 auto;
}


/* title */

h1{

    color: #b52c5c;
    padding: 30px 0px 60px;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
}
/* /title */




/* paragraph */
.paragraph{
    padding-bottom: 3em;
}


.paragraph p{
    text-align: justify;
    text-align-last: center;
}

/* paragraph */



/* card */
.card{
    height: 157px;
    width: 30%;
    background-color: #101a2a;
    float: left;
    margin: 1em;
    min-width: 390px;
}



 .clearfix::after{
    content: "";
    display: block;
    clear: both;
}



    
h2{
    color: white;
    text-align: center ;
    padding: 12px 0px 12px 95px;
}


.job{
    display: block;
    padding-bottom: 30px;
    color: white;
    padding-left: 220px;
}


.mail{
    color: white;
    padding-left: 200px;
    color: #0c74a3;
}


img {
    width: 157px;
    height: 100%;
    float: left;
}



